<!DOCTYPE html>
{% load static%}
<html>
    <head>
        <title> {% block title%} Base {% endblock title %} </title>
        <meta charset="utf-8">
        <link rel="stylesheet" href={% static 'css/bootstrap.min.css'%}>
        <link rel="stylesheet" href={% static 'css/custom.css'%}>
        <script src={% static 'js/bootstrap.min.js'%}></script>
        <script src={% static 'js/jquery-3.6.3.min.js' %}></script>
    </head>
    <body class="min-vh-100">
        <nav class="navbar bg-secondary bg-gradient sticky-top">
            <div class="container-fluid justify-content-end">
                {% block navbar %}
                {% endblock navbar %}
                {% if user.is_authenticated %}
                    <a class="btn btn-danger" href="{% url 'note:logout_view'%}"> Log out </a>
                {% endif %}
            </div>
        </nav>
        {% block content %}
        {% endblock content%}
    </body>
</html>